/**
 * JWT display logic:
 * - Default: show anonymous output.
 * - Show logged in user data when a JWT token has been processed.
 */
.jwt-enabled {

  &.jwt-anon {

    .jwt-user {
      display: none;
    }
  }

  &.jwt-loggedin {

    .jwt-default {
      display: none;
    }
  }
}
